<div class="flex-container">
  <p class="text">Your diary</p>
  <a href="#">
    <mat-icon matSuffix>arrow_forward</mat-icon>
  </a>
</div>

<div>
  <p>
    <textarea #myInput (input)="inputHeandler(myInput.value)" [value]="value" class="block"
              placeholder="Write something"></textarea>
  </p>
</div>

<div class="flex-container footer">
  <a  (click)="emojiValue()" href="#">
    <mat-icon matSuffix>{{icon}}</mat-icon>
  </a>
  <button [ngClass]="{invisible: visibility}" (click)="add()" class="button" color="primary" >Save</button>
</div>

<app-new-message [items]="items"></app-new-message>
<emoji-mart (emojiSelect)="addEmoji($event)" *ngIf="isEmojiPickerVisible" class="emoji-mart footer flex-container"
            title="Choose your emoji"></emoji-mart>

