.container-message {
  background: #F7F8F9;
  border-radius: 10px;
}

.message {
  margin: 10px auto;
  background: #F7F8F9;
  border-radius: 10px;
  max-height: 62px;
  max-width: 70%;
  padding: 14px;
}
