.message-user {
  margin: 10px auto;
  background: #F7F8F9;
  border-radius: 10px;
  min-height: 62px;
  max-width: 80%;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.message-user__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}

.message-user__header-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-icon {
  font-size: 10px;
}

.font-size-20px {
  font-size: 20px;
}

.color-blue {
  color: #3E52BE;
}
