/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import '~@ctrl/ngx-emoji-mart/picker';

body {
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
}
